
      <section id="home-sec" class="flexible home-sec">
        <div class="eye-grabber-img">
          <img src="https://garageworks.in/assets/images/counter_image.png" alt="BikeCare" />
        </div>
        <div class="eye-grabber">
          <h1>Welcome to BikeCare Hub.</h1>
          <h2>
            Get every care for Your Bike on your door step just on one single click!.
          </h2>
          <div class="btn-area">
            <button class="btn" routerLink="/login">
              Login 
            </button>
            <button class="btn" routerLink="/register">
              Register 
            </button>
          </div>
          

        </div>
      </section>
