<h2>My all booking History</h2>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Provider Name</th>
        <th scope="col">Service Name</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
        <th scope="col">Slot</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let p of .serviceCategories">
        <td>{{p.category}}</td>
        <td>{{p.service}}</td>
        <th>{{p.price}}</th>
      </tr> -->
    </tbody>
  </table>
